/*
           Title: phiseme-javazon.css
           Author: Manel Phiseme
           Date: 5/1/2022
           Description: This is the css code for Assignment 7.2 -javazon.css. 
       */

#h-title {
    text-align: center;
    background-color: white;
    color: black;
    border: none;
}

#JavaznProduct, #JavaznService, #JavaznEmployees {
    display:none;
}

th td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    padding: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#4F3674;
    color: white;
}

tr:hover {
    background-color: #D6A800;
    color: #4F3674;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;

}
#btnDisplayListing {
    padding: 15px 112px;
    margin: 8px 0;
    background-color: #4F3674;
    color:white;
}
.faCard{
    margin-top: 45px;
}



